<div class="container">
<div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="sasi">Get assured cashback of Rs.75 up to Rs.500</h5>
               <div><img src="https://s1.rdbuz.com/Images/ola/new/274x147.png">
                </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="sasi">Cashback Up to Rs 200 on Bus tickets</h5>
                    <img src="https://st.redbus.in/Images/INDOFFER/FESTIVE/New/274x147.png">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="sasi">Win Rs 10 to Rs 300 on minimum purchase of Rs 300.</h5>
                    <img src="https://s1.rdbuz.com/images/MobileOffers/amazon/offertile..png">
                   
                  </div>
                </div>
              </div>
      </div>
      </div>