form{
    position: absolute;
    top: 150px;
    right: 15%;
}
form input{
    overflow: visible;
    padding: 10px;
    border: 1px solid #ccc;
}
form > button{
    border-radius: 0;
    margin: -1px 0px;
    display: inline-block;
    padding:  10px 26px !important;
    position: relative;
    top: -2px;
}
input[type="date"]{
    padding: 9px !important;
}
input, button, select, optgroup, textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 150px;
}